bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/bin/Aardvark.Fake.dll
/src/*.opensdf
/src/*.sdf
/src/CeresCpp/CeresCpp.vcxproj.user
/.fake
/paket-files/
.paket/paket.exe
/libs/Native/Ceres/windows/AMD64/CeresCpp.iobj
/libs/Native/Ceres/windows/AMD64/CeresCpp.ipdb
/libs/Native/Ceres/windows/AMD64/CeresCpp.pdb
/src/*.opendb
/src/*.db
/.paket/paket.exe
*.iobj
*.ipdb
