source https://nuget.org/api/v2
source https://vrvis.myget.org/F/aardvark/api/v2
source https://vrvis.myget.org/F/aardvark_public/api/v2

group Build
content: none
source https://nuget.org/api/v2

github vrvis/Aardvark.Fake:standalone
