source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://vrvis.myget.org/F/aardvark/api/v3/index.json

nuget Aardvark.Base ~> 2.4.8
nuget Aardvark.Base.FSharp ~> 2.4.8


nuget Aardvark.Application.WinForms.GL ~> 3.0.0
nuget Aardvark.SceneGraph ~> 3.0.0
nuget Aardvark.Rendering.Text ~> 3.0.0

nuget Aardvark.OpenCvSharp ~> 2.4.0

nuget FsPickler ~> 3.1.0

group Build
content: none
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
github vrvis/Aardvark.Fake:standalone