type project
id Ceres
authors The Aardvark Platform Team
projectUrl https://github.com/aardvark-community/CeresSharp
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardvark-community/CeresSharp
description
    Ceres